@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --text-orange: #ec5242;
  --white: #fff;
  --black: #000;
  --texts: #d3d3d3;
  --grey-p: #5e5e5e;
  --body-bg: #f7f7f7;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
  background: var(--body-bg);
  scroll-behavior: smooth;
}

header {
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: var(--black);
  transition: all 1s;
}

a:active {
  color: var(--text-orange);
}

a:hover {
  color: var(--text-orange);
  font-size: 18px;
  font-weight: 800;
}

.display-none {
  display: none;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.text-center {
  text-align: center;
}

.social-link {
  display: none;
}

#mobile-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5%;
  position: relative;
}

#desktop-nav {
  display: none;
}

.hamburger-btn {
  height: 80px;
  cursor: pointer;
}

.burger-line {
  width: 50px;
  height: 6px;
  background: #272a31;
  border-radius: 5px;
  margin: 10px;
}

.mobile-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  color: var(--texts);
  z-index: 1;
}

.mobile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3%;
}

.mobile-menu-items {
  padding: 20px 3px;
}

.close-button-list-item {
  position: absolute;
  right: 50px;
  top: 15px;
  cursor: pointer;
}

.close-menu {
  background-color: var(--white);
  border: 1px solid var(--texts);
  border-radius: 4px;
  padding: 3px;
}

.mobile-menu-items a {
  color: var(--texts);
  font-size: 20px;
  font-weight: 800;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.main-section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-home {
  padding: 0 20px;
}

.main-about {
  padding: 20px 13%;
}

.intro-paragraph {
  color: var(--text-orange);
  font-size: 30px;
}

.heading {
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 1px;
}

.intro-header {
  font-family: cocogoose, sans-serif;
  margin: 0;
  background-image: url(../assets/background/heading-background.jpg);
  background-size: 150px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.intro-description {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

.desc-white-border {
  padding: 25px;
  border: 3px solid var(--white);
}

.sub-heading {
  color: #5e5e5e;
  font-size: 25px;
}

.sub-heading-about {
  color: var(--white);
  font-size: 25px;
}

.about-us-paragraph {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 15px;
  color: var(--grey-p);
}

.about-section-paragraphs {
  font-size: 13px;
  line-height: 1;
  color: var(--black);
  padding: 12px;
  margin-bottom: 15px;
  width: 90%;
}

.session-main-paraghraph {
  font-size: 15px;
}

.session-paragraphs-card {
  font-size: 13px;
  line-height: 1;
  color: var(--white);
  width: 90%;
}

.about-us-paragraph-holder {
  background: #fff;
  border: 2px solid var(--texts);
}

.about-secondary-section {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--texts);
  border-bottom: 1px solid var(--texts);
}

.program-section {
  background: url(../assets/background/program-section-bg.png);
}

.underline-heading::after {
  width: 48px;
  height: 4px;
  margin: 25px auto;
  top: 100%;
  background-color: var(--text-orange);
  border: 1px solid var(--text-orange);
  border-radius: 24px;
  display: block;
  content: '';
}

.classes-list {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  padding: 20px;
}

.class-items {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 20vh;
  margin: 0.3%;
  background: rgba(233, 233, 233, 0.1);
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  align-items: center;
}

.class-items img {
  margin: 0 4%;
  width: 10%;
  background: rgba(255, 255, 255, 0.49);
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 3px;
}

.class-items h3 {
  color: var(--text-orange);
  margin: 0;
  font-size: 16px;
}

.class-items p {
  text-align: start;
  margin: 0 3%;
  font-family: cocogoose, sans-serif;
  font-size: 10px;
  color: var(--texts);
}

#see-program-button {
  padding: 20px 20px 20px;
  background: var(--text-orange);
  color: var(--texts);
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  margin: 10px auto;
  width: 75%;
}

.two-column-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  grid-gap: 15px 15px;
  margin: 15px 5%;
  text-align: start;
  align-items: center;
}

.grid-items {
  display: flex;
  background: url(../assets/background/trainer-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.grid-items img {
  margin-top: 3%;
  margin-left: 3%;
  width: 100px;
  height: 100px;
}

.trainer-desc {
  margin-left: 10px;
}

.trainer-desc h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.trainer-qualification {
  color: var(--text-orange);
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  margin: 5px 0;
}

.trainer-desc hr {
  width: 3%;
  border-color: var(--text-orange);
  margin: 5px 0;
}

.about-trainer {
  font-weight: bold;
  font-size: 11px;
  margin: 15px 0;
}

.partner-section {
  background: #272a31;
  padding: 15px;
}

.partner-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partner-list-items {
  flex: 0 1 85px;
  margin: 10px 15px;
}

.partner-list-items img {
  width: 85px;
}

.sessions-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session-container-items {
  flex: 0 1 auto;
  margin: 15px;
  height: 100%;
}

.session-one {
  background: url(../assets/images/sessions/session-one.jpg);
  background-size: cover;
}

.session-two {
  background: url(../assets/images/sessions/session-two.jpg);
  background-size: cover;
}

.session-text-holder {
  background: rgba(248, 8, 8, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100px;
  background: var(--white);
}

.footer-items {
  flex: 1 1 100px;
}

.logo {
  width: 95px;
  border-radius: 4px;
  border: 1px solid var(--black);
}

.logo-about {
  width: 150px;
}

.copyright-paragraph {
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 150px;
  }

  #mobile-nav {
    display: none;
  }

  .social-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--black);
    color: var(--white);
    padding-right: 80px;
  }

  .social-link .links {
    display: flex;
    margin: 3px;
    align-items: center;
  }

  .link-items {
    flex: 1 1 20px;
    margin: 0 15px;
  }

  .link-items a {
    color: var(--white);
  }

  #desktop-nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--black);
    padding: 10px 25px 10px 10px;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ece2e2;
    box-shadow: 10px 2px 8px #888;
    width: 100%;
  }

  .logo-flex {
    flex: 1 0 auto;
  }

  .menu-flex {
    flex: 2 0 auto;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop-menu-items {
    flex: 1 1 auto;
  }

  .main-home {
    padding: 0 23% 0 13%;
    margin-bottom: 90px;
  }

  .sessions-main-container {
    flex-direction: row;
  }

  .intro-header {
    font-size: 58px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 900;
  }

  .about-heading {
    margin-bottom: 30px;
  }

  .intro-description {
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
  }

  .classes-list {
    flex-direction: row;
    margin: 7vh 14%;
  }

  .class-items {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .class-items img {
    width: 60px;
    margin-top: 10%;
    margin-bottom: 0;
  }

  .class-items h3 {
    font-size: 18px;
    margin: 1rem auto;
    width: 100%;
  }

  .class-items p {
    text-align: center;
    margin: 0 8%;
  }

  #see-program-button {
    padding: 0;
    background: 0;
    width: auto;
    text-decoration: underline;
    margin: 20px auto 35px auto;
  }

  .two-column-grid {
    grid-template-columns: auto auto;
    grid-template-rows: 150px 150px 150px;
    margin: 25px 16%;
  }

  .partner-list-items img {
    width: 125px;
  }

  .partner-list-items {
    margin: 15px 21px;
  }

  .about-section-paragraphs {
    width: 50%;
  }

  footer {
    background: var(--body-bg);
  }
  .about-footer {
    background: var(--black);
    color: var(--white);
  }
  .about-footer a {
    color: var(--white);
  }
}
